/* shared style */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, open sans, lato;
}
.primarytext {
  color: #fd6e0a;
}
.primarybtn {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: white;
  padding: 18px 35px;
}

/* nav style  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 30px 150px;
}

.navtitle {
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
}
ul {
  display: flex;
  align-items: center;
}
ul li {
  list-style: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-right: 50px;
}
ul li a {
  text-decoration: none;
  color: #474747;
}

/* develop img */
header {
  background: url(../images/developer.png);
  background-repeat: no-repeat;
}

/* header style  */
.banner {
  background: #fff8f3;
  display: flex;
  align-items: center;
  padding: 30px 30px 0px 150px;
  background: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.profile {
  display: flex;
}
.banner .profile-pic {
  width: 584px;
  height: 676px;
}
.hi {
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  color: #474747;
}
.mary {
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  color: #181818;
  margin-top: 5px;
  margin-bottom: 20px;
}
.marytext {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #757575;
  margin-bottom: 45px;
}
